<!DOCTYPE html>
<html>
<head>
  <title>Ctrl+C+V</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag '/jqui-theme/jquery-ui-1.9.1.custom.min.css' %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
  <% if notice || alert %>
    $(function(){
      humane.log('<%= notice || alert %>');
    });
  <% end %>
</script>
<div class="container">
  <div class="row">
    <div class="span12">
      <h1 class="top-logo"><%= link_to '컨트롤씨브이', root_path %></h1>
    </div>
  </div>
  <div class="row">
    <div class="span6 offset3">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
